<h1><%= "#{current_user.full_name}'s Compliments" %></h1>
<%= link_to "Go to your admin", user_admin_index_path %>
<h2>Your Compliments</h2>
<% @compliments.each do |compliment| %>
  <%= "#{current_user.partner.full_name} says: #{compliment.compliment}" %><br>
<% end %>
